

.botones{
    text-align: right;
    padding: 1rem;
}

.boton{
    margin: 10px;
}

h3{
   margin-left: 5rem;
   margin-top: -2rem; 
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 50%;
}

.botonesInferior{
    text-align: left;
    padding: 1rem;
    margin-left: 4rem;
    display: flex;
}

.botonVolver{
    margin-right: 1rem;
}

.containerTable{
    width: 100rem;
}
.cart{
    
    display: flex;
    justify-content: left;
    margin-left: -50%;
    margin-top: auto;
}

.containerSeat{
    width: 50%;
    margin-right: 1rem;
    
}
.general{
    display: flex;
  align-items: stretch;
}

.contain{
    margin: auto;
}
.buttonVolver:hover{
    /* color: black; font-family: arial; text-decoration: none */
}

A:hover { color: black; font-family: arial; text-decoration: none }